[submodule "deps/SFML"]
	path = deps/SFML
	url = https://github.com/Alia5/SFML
[submodule "deps/WinReg"]
	path = deps/WinReg
	url = https://github.com/GiovanniDicanio/WinReg
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog
[submodule "deps/subhook"]
	path = deps/subhook
	url = https://github.com/Zeex/subhook
[submodule "deps/ValveFileVDF"]
	path = deps/ValveFileVDF
	url = https://github.com/TinyTinni/ValveFileVDF
[submodule "deps/ViGEmClient"]
	path = deps/ViGEmClient
	url = https://github.com/ViGEm/ViGEmClient
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui/
[submodule "deps/imgui-sfml"]
	path = deps/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json
[submodule "deps/traypp"]
	path = deps/traypp
	url = git@github.com:Soundux/traypp.git
